# Assignment on Measures of Central Tendency and Dispersion

Assignment on Measures of Central Tendency and Dispersion
An Institution wishes to find out their student’s ability in mathematics, reading 
and writing skills. The Institution wants to do an exploratory study to check the
following information.
1. Find out how many males and females participated in the test.
2. What do you think about the students' parental level of education?
3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course
4. What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course
5. The management needs your help to give bonus points to the top 25% of
students based on their math score, so how will you help the management
to achieve this.


Please note the following:
Dataset is added along with
Do the assignment in Jupyter notebook/colab
Add the .ipynb file to GitHub and share the link in Paatshala

## Import libraries

In [1]:
import numpy as np
import pandas as pd

## Read CSV file

In [6]:
df = pd.read_csv(r"C:\Users\msham\Documents\Data science\2022-11-21 Assignment 3\StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

## 1. Find out how many males and females participated in the test.

In [8]:
df.gender.value_counts()

female    518
male      482
Name: gender, dtype: int64

## 2. What do you think about the students' parental level of education?

In [10]:
df['parental level of education'].mode()

0    some college
Name: parental level of education, dtype: object

In [11]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

### Most parent have some college education.

## 3. Who scores the most on average for math, reading and writing based on 
    ● Gender 
    ● Test preparation course