# Case Study on Testing of Hypothesis

A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
● The company needs to check whether there is any dependency between
thefeatures “Region” and “Manager”.

Help the company to carry out their study with the help of data provided

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\msham\Documents\Data science\2022-11-28 case study on testing hypothesis\Sales_add.csv")

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

### 1. Company wishes to clarify whether there is any increase in sales after stepping in to digital marketing

* null hypothesis - There is no increase in sales after stepping in to digital marketing
* alternative hypothesis - There is increase in sales after stepping in to digital marketing

In [4]:
from statsmodels.stats.weightstats import ztest

In [5]:
ztest(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],value=0)

(-12.995084451110877, 1.3046367348248653e-38)

In [6]:
z_stat,p_val=ztest(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],value=0)
if p_val<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

### 2. The company needs to check whether there is any dependency between the features "Region" and "Manager"

In [7]:
from scipy.stats import chi2_contingency
contingency=pd.crosstab(data['Region'],data['Manager'])
chi2_stat,p_value,dof,exp=chi2_contingency(contingency)
if p_value<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted